<h5>Create a New Account</h5>

<form>
  <input type="text" name="name" id="newAccountName">
  <input type="text" name="total" placeholer="Enter money" id="newAccountAmount">
  <button>Add an Account</button>
</form>