<h5>New Account</h5>

<% form_for @accounts do |f| %>
<%= f.text_field :name %><br>
<%= f.text_field :total %><br>
<% end %>


<form>
  <input type="text" name="account" id="accountName">
  <input type="text" name="Amount" placeholer="Enter money">
  <button>Add an Account</button>
</form>