<form>
  Amount: <input type="text" name="amount">
  Account:
          <select>
            <% @accounts.each do |account| %>
            <option value="value"><%=account.name%></option>
            <% end %>
          </select>

</form>