<h5>This is the bank!</h5>

<div id="accounts"></div>
<!-- should have Main Accounts displaying and lists each account balance including button to display withdraw and transfers, Add an Account and Deposit -->

    <div id="withdraw"></div>
    <div id="depositForm"></div>
    <div id="add-account"></div>
<div id="buttons">
    <button id="withdraw-transfer">Withdraw/Transfer</button>
    <button id="new">Add An Account</button>
    <button id="deposit">Deposit</button>
<div>


