<h5>This is the bank!</h5>


  <% @accounts.each do |account| %>
    <%= account.name %>
     <%= account.total %>
    <% end %>

<!-- should have Main Accounts displaying and lists each account balance including button to display withdraw and transfers, Add an Account and Deposit -->